.delivery {
  background-image: url("../../assets/Images/png/delivery_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 240px;
}

.delivery_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.del_left {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.del_leftcard {
 
  padding: 50px 30px;
  background: #fff;
  border-radius: 10px;
}

.del_leftcard_h1 {
  color: #ffb800;
  font-family: Gilroy;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  text-transform: uppercase;
}

.del_leftcard_p {
  color: #323232;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  margin-top: 20px;
  margin-bottom: 45px;
}

.del_left_img {
  display: flex;
  align-items: center;
  gap: 37px;
}
.del__right{
  height: 760px;
}
.del_right-top {
  padding: 30px 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  background: #fceb0a;
}

.del_right-top h1 {
  color: #323232;
  text-align: center;
  font-family: Gilroy;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  text-transform: uppercase;
  margin: 20px 0;
}

.del_right-top p {
  color: #323232;
  text-align: center;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
}

.del_right-bot {

  background: #fff;
  padding: 30px;
  border-radius: 0px 0px 10px 10px;
}

.del_right-bot p {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: self-start;
}

.del_right-bot p strong {
  width: 62px;

  color: #323232;
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
}

.del_right-bot p span {
  color: #323232;
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.del_right-bot_btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.del_right-bot_btn button {
  padding: 24px 40px;
  background-color: #fceb0a;
  color: #323232;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 5px;
}

.del_right-bot_btn p {
  color: #323232;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 39px;
}
