.modal__blur {
  width: 100%;
  height: 130vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  position: fixed;
}

.md {
  z-index: 999;
  position: fixed;
  padding: 10px 329px;
}

.youTube__modal {
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  width: 100%;
  max-height: 100%;
}

.youTube__modal h3 {
  color: #323232;
  text-align: center;
  font-family: Roboto-Bold;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 20px;
}

.md__table {
  border-right: 1px solid #e0e0e0;
  padding-right: 25px;
}

.modal__wrapper {
  display: flex;
}

.modal__wrapper table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  padding: 10px;
}

.modal__wrapper > th,
td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.modal__wrapper--td1 {
  color: rgba(50, 50, 50, 0.8);
  font-family: Gilroy-Medium;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  width: 66%;
}

.modal__wrapper--td2 {
  color: rgba(50, 50, 50, 0.8);
  font-family: Gilroy-Medium;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: right;
  width: 33%;
}

.modal__left {
  width: 50%;
}

.modal__right {
  width: 50%;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__right p span {
  color: #323232;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.modal__right p {
  color: #323232;
  font-family: Gilroy-Light;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.modal__left--img {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.modal__left--img img {
  width: 50%;
}

@media only screen and (max-width: 1710px) {

  .md {
    padding: 10px 329px;
  }
  .modal__left--img {
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
  }

  .modal__left--img img {
    width: 40%;
  }

  .modal__right p span {
    color: #323232;
    font-family: Gilroy-Medium;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
  }

  .modal__right p {
    color: #323232;
    font-family: Gilroy-Light;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
  }
}
