.header-section{
    background-image: url("../../assets/Images/png/header-sectionbag.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}