@font-face {
  font-family: Inter-ExtraLight;
  src: url("./Fonts/static/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./Fonts/static/Inter-Medium.ttf");
}

@font-face {
  font-family: Inter-Regular;
  src: url("./Fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url('./Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/merriweather-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./Fonts/merriweather-v30-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* merriweather-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("./Fonts/merriweather-v30-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./Fonts/merriweather-v30-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* merriweather-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url("./Fonts/merriweather-v30-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./Fonts/merriweather-v30-latin-900.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
  font-family: Gilroy;
  src: url("./Fonts/font/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("./Fonts/font/Gilroy-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1620px;
  padding: 0 15px;
  margin: 0 auto;
}
