.manage {
  background: #ececec;
  padding: 100px 250px;
}
.manage__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.manage__wrapper h1 {
  color: #323232;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  text-transform: uppercase;
}

.manage__wrapper p {
  color: #323232;
  text-align: center;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.manage__wrapper img {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100% !important;
  padding: 50px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

th {
  padding: 50px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 30%;
}

td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 60%;
  padding: 10px 50px;
}

th:nth-child(2) {
  text-align: center;
}

th:nth-child(3) {
  text-align: center;
}

.manage__td1 {
  color: rgba(50, 50, 50, 0.8);
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.manage__td2 {
  color: #323232;
  font-family: Gilroy-Regular;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.manage__td3 {
  color: #323232;
  font-family: Gilroy-Regular;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.true {
  color: #27ae60;
  font-size: 22px;
}

.false {
  color: #eb5757;
  font-size: 30px;
}

.sss__mng {
  border: none;
}

.titles__manage {
  color: #323232;
  text-align: center;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  border: none;
}

.titles__btns button {
  color: #323232;
  text-align: center;
  font-family: Inter-Bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 24px 40px;
  border: none;
  outline: hidden;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 50px;
}

.table__one {
  color: #323232;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  text-align: start;
}

.table__two {
  padding: 15px 60px;
  color: #323232;
  text-align: center;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  border-radius: 10px;
  border: 3px solid #e0e0e0;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border: 5px solid #ececec;
}

.table__three {
  padding: 15px 60px;
  color: #323232;
  text-align: center;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  border-radius: 10px;
  border: 3px solid #e0e0e0;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border: 5px solid #ececec;
}

.btn__bg {
  background: #ffb800;
}

.btn__border {
  border: 5px solid #ffb800;
}

.manage__responsive {
  display: none;
}

@media only screen and (max-width: 1150px) {
  .manage {
    padding: 50px 150px;
  }
  .manage__wrapper h1 {
    font-size: 36px;
    line-height: 39px;
  }

  .manage__wrapper p {
    font-size: 26px;
    line-height: 30px;
  }

  table {
    width: 800px;
    padding: 30px 20px;
  }

  th {
    width: 100%;
    padding: 10px;
  }

  td {
    padding: 5px 15px;
    width: 100%;
  }

  .table__one {
    font-size: 22px;
    line-height: 30px;
  }

  .table__two {
    font-size: 22px;
    line-height: 30px;
  }

  .table__three {
    font-size: 22px;
    line-height: 30px;
  }

  .manage__td1 {
    font-size: 16px;
  }

  .manage__td2 {
    font-size: 16px;
  }

  .manage__td3 {
    font-size: 16px;
  }

  .titles__btns button {
    font-size: 30px;
  }
}

@media only screen and (max-width: 730px) {
  .manage{
    padding: 20px;
  }
.manage__wrapper{
  display: none;
}

  .manage__responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .manage__responsive h1 {
    color: #323232;
    text-align: center;
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
  }

  .manage__responsive p {
    color: #323232;
    text-align: center;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .manage__responsive img {
    width: 25%;
  }

  .manage__responsive button {
    color: rgba(50, 50, 50, 0.8);
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
    border: none;
    cursor: pointer;
    margin: 10px auto;
  }

  .clc:focus {
    color: #323232;
    text-align: center;
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    padding: 15px 26px;
    border-radius: 10px;
    border: 3px solid #ffb800;
    text-decoration: none;
  }

  .wifi__table {
    border-collapse: collapse;
    width: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .wifi__table td {
    color: rgba(50, 50, 50, 0.8);
    font-family: Gilroy;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
  }

  .true__res {
    font-size: 15px !important;
    color: #27ae60 !important;
  }

  .false__res {
    font-size: 15px !important;
    color: #eb5757 !important;
  }

  .center {
    text-align: center;
  }

  .manage__res--h1 {
    color: #323232 !important;
    text-align: center;
    font-family: Roboto;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 29px !important;
  }
}
